# Ignorar absolutamente todo por defecto
*

# Excepciones: Permitir rastrear archivos en la raíz
!README.md
!.gitignore
!install.sh
!prompt_restauración.txt

# ⚠️ CRÍTICO: Permitir a Git entrar a la carpeta .config
!.config/

# Excepciones: Archivos sueltos dentro de .config
!.config/mimeapps.list
!.config/brave-flags.conf
!.config/code-flags.conf

# Excepciones: Carpetas de dotfiles dentro de .config
!.config/hypr/
!.config/hypr/**
!.config/waybar/
!.config/waybar/**
!.config/rofi/
!.config/rofi/**
!.config/mako/
!.config/mako/**
!.config/swayosd/
!.config/swayosd/**
!.config/kitty/
!.config/kitty/**
!.config/fish/
!.config/fish/**
!.config/fastfetch/
!.config/fastfetch/**
!.config/btop/
!.config/btop/**
!.config/yazi/
!.config/yazi/**
!.config/helix/
!.config/helix/**
!.config/nvim/
!.config/nvim/**
!.config/gtk-3.0/
!.config/gtk-3.0/**